<a class="previous-section" href>← Back to Function / Parameters</a>

<label>Tests</label>
<table class="table" id="tests-table">
  <thead>
    <tr>
      <th>Parameter</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody class="invisible">
    <!-- Hidden group, gets duplicated for each test -->
    <tr>
      <td>RETURN</td>
      <td>
        <input class="form-control" type="text" placeholder="36" />
      </td>
    </tr>
    <tr>
      <td>
        <button type="button" class="btn btn-danger btn-block">
          <i class="fa fa-times-circle" aria-hidden="true"></i> Test
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button type="button" class="btn btn-block btn-info add-test">
  <i class="fa fa-plus-circle" aria-hidden="true"></i> Test
</button>

<div>
  (You can always add / edit tests later)
</div>

<button type="submit" class="btn btn-primary btn-block">
  Create Challenge
</button>

<script>
(function () {
  'use strict';
  function getParameters () {
    const params = [];
    $('input[name="challenge[parameters][]"').each(function () {
      params.push(this.value)
    });
    return params;
  }
  function addNewTest () {
    const params = getParameters();
    const tbody = $('#tests-table > tbody.invisible').first().clone();
    const testIndex = $('#tests-table > tbody').length - 1;
    const table = $('#tests-table');
    
    params.forEach((param) => {
      tbody.prepend(`<tr>
        <td>${param}</td>
        <td><input class="form-control" data-test-param="${}"
      </tr>`);
    });
    
  }
  $('#challenge').on('click', 'button.add-test', addNewTest);
  
})();
</script>
