<div class="row">
  <div class="col-4">
    <center>Quality</center>
    <button class="btn btn-secondary btn-block">
      <i class="fa fa-star" aria-hidden="true"></i>
      <i class="fa fa-sort" aria-hidden="true"></i>
    </button>
  </div>
  <div class="col-4">
    <center>Difficulty</center>
    <button class="btn btn-secondary btn-block">
      <i class="fa fa-fire" aria-hidden="true"></i>
      <i class="fa fa-sort" aria-hidden="true"></i>
    </button>
  </div>
  <div class="col-4">
    <center>Popularity</center>
    <button class="btn btn-secondary btn-block">
      <i class="fa fa-users" aria-hidden="true"></i>
      <i class="fa fa-sort-desc" aria-hidden="true"></i>
    </button>
  </div>
</div>

<div>
  &nbsp;<a class="pull-right" href="<%= new_challenge_path %>">Create New Challenge</a>
</div>

<ul class="list-group">
  <% @challenges.each do |challenge| %>
    <%= render(partial: 'challenge_list_item', locals: { challenge: challenge }) %>
  <% end %>
</ul>
